{% extends "base.html" %}
{% block content %}



<div style="width:100%;">
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="addRow('datagrid1')" plain="true"
                       tooltip="增加...">增加</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="removeRow('datagrid1')" plain="true">删除</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconCls="icon-save" onclick="saveData()" plain="true">保存</a>

                </td>
                <td style="white-space:nowrap;">
                    <input id="key" class="mini-textbox" emptyText="请输入资产编号" style="width:150px;" onenter="onKeyEnter"/>
                    <a class="mini-button" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="datagrid1" class="mini-datagrid" allowResize="true"
     url="{{url_for('.index')}}" idField="guid"
     allowAlternating="true" selectOnLoad="true"
     showColumnsMenu="true" pageSize="15" sizeList="[15,30,50,100]"
     allowCellEdit="true" allowCellSelect="true"
     editNextOnEnterKey="true" editNextRowCell="true">
    <div property="columns">
        <div type="indexcolumn">序号</div>
        <div field="zcbh" headerAlign="center">资产编号
            <input property="editor" class="mini-textbox" width="100%"/>

        </div>
        <div type="comboboxcolumn" autoShowPopup="true" field="zy" headerAlign="center">专业
            <input property="editor" class="mini-combobox" style="width:100%;" data="zyGenders"/>
        </div>

        <div field="cj" headerAlign="center" allowSort="true">厂家
            <input property="editor" class="mini-textbox" width="100%"/></div>
        <div field="sbmc" headerAlign="center" allowSort="true">设备名称
            <input property="editor" class="mini-textbox" width="100%"/></div>
        <div field="sbxh" headerAlign="center" allowSort="true">设备型号
            <input property="editor" class="mini-textbox" width="100%"/></div>
        <div field="bkmc" headerAlign="center" allowSort="true">板卡名称
            <input property="editor" class="mini-textbox" width="100%"/></div>
        <div field="bkxh" headerAlign="center" allowSort="true">板卡型号
            <input property="editor" class="mini-textbox" width="100%"/></div>
        <div type="comboboxcolumn" autoShowPopup="true" field="sbzt" headerAlign="center" allowSort="true">设备状态
            <input property="editor" class="mini-combobox" style="width:100%;" data="sbztGenders"/></div>

        <div type="comboboxcolumn" autoShowPopup="true" field="whx" headerAlign="center">完好性
            <input property="editor" class="mini-combobox" style="width:100%;" data="whxGenders"/></div>


        <div type="comboboxcolumn" autoShowPopup="true" field="bfzt" headerAlign="center" allowSort="true">报废状态
            <input property="editor" class="mini-combobox" style="width:100%;" data="bfztGenders"/></div>

        <div field="fzwz" headerAlign="center">放置位置
            <input property="editor" class="mini-textbox" width="100%"/></div>

        <div type="comboboxcolumn" autoShowPopup="true" field="fzwzssdw" headerAlign="center" width="160px">放置位置所属单位
            <input property="editor" class="mini-combobox" style="width:100%;" data="fzwzssdwGenders"/></div>


        {%if isadmin%}

        <div type="comboboxcolumn" autoShowPopup="true" field="dyzt" headerAlign="center" allowSort="true">调用状态
            <input property="editor" class="mini-combobox" style="width:100%;" data="dyztGenders"/></div>
        <div type="comboboxcolumn" autoShowPopup="true" field="zcssbm" headerAlign="center" width="150px"
             allowSort="true">资产所属部门
            <input property="editor" class="mini-combobox" style="width:100%;" data="zcssbmGenders"/></div>


        {%endif%}
    </div>
</div>
<fieldset style=";border:solid 1px #aaa;margin-top:8px;position:relative;">
    <legend>资产详细信息</legend>
    <div id="editForm1" style="padding:5px;">
        <input class="mini-hidden" name="id"/>
        <table style="width:100%;">
            <tr>
                <td style="width:100px;">资产编号：</td>
                <td style="width:150px;"><input id="zcbh" name="zcbh" class="mini-textbox"/></td>
                <td style="width:100px;">资产所属部门：</td>
                <td style="width:150px;"><input id="zcssbm" name="zcssbm" class="mini-textbox"/></td>
                <td style="width:80px;">调用状态：</td>
                <td style="width:150px;"><input name="dyzt" class="mini-textbox"/></td>
            </tr>

        </table>
    </div>
</fieldset>

<script type="text/javascript">
    /********定义选项********/
    var zyGenders = [
        { id: '传输', text: '传输' },
        { id: '数据', text: '数据' },
        { id: '固定交换网', text: '固定交换网' },
        { id: '移动核心网', text: '移动核心网' },
        { id: '无线', text: '无线' },
        { id: '电源', text: '电源' },
        { id: '接入网', text: '接入网' }

    ];
    var sbztGenders = [
        {id: '闲置未下电', text: '闲置未下电'},
        {id: '下电未拆', text: '下电未拆'},
        {id: '已拆除', text: '已拆除'}
    ];
    var whxGenders = [
        {id: '可用', text: '可用'},
        {id: '不可用', text: '不可用'}
    ]
    var bfztGenders = [
        {id: '已申请报废', text: '已申请报废'},
        {id: '待报废', text: '待报废'},
        {id: '未报废', text: '未报废'}
    ];
    var dyztGenders = [
        {id: '已调用', text: '已调用'},
        {id: '未调用', text: '未调用'}
    ];
    var zcssbmGenders = [
        {id: '网络维护中心', text: '网络维护中心'},
        {id: '网络优化中心', text: '网络优化中心'},
        {id: '公众客户响应中心', text: '公众客户响应中心'},
        {id: '集团客户响应中心', text: '集团客户响应中心'},
        {id: '广饶', text: '广饶'},
        {id: '垦利', text: '垦利'},
        {id: '利津', text: '利津'},
        {id: '河口区维护中心', text: '河口区维护中心'},
        {id: '胜中', text: '胜中'},
        {id: '胜南', text: '胜南'},
        {id: '胜北', text: '胜北'},
        {id: '胜东', text: '胜东'},
        {id: '仙河', text: '仙河'},
        {id: '滨州', text: '滨州'},
        {id: '纯梁', text: '纯梁'},
        {id: '孤岛', text: '孤岛'},
        {id: '胜利河口', text: '胜利河口'},
        {id: '临盘', text: '临盘'}
    ];
    var fzwzssdwGenders = [
        {id: '网络维护中心-东城', text: '网络维护中心-东城'},
        {id: '网络维护中心-西城', text: '网络维护中心-西城'},
        {id: '网络优化中心', text: '网络优化中心'},
        {id: '公众客户响应中心-东城', text: '公众客户响应中心-东城'},
        {id: '公众客户响应中心-西城', text: '公众客户响应中心-西城'},
        {id: '集团客户响应中心', text: '集团客户响应中心'},
        {id: '广饶', text: '广饶'},
        {id: '垦利', text: '垦利'},
        {id: '利津', text: '利津'},
        {id: '河口区维护中心', text: '河口区维护中心'},
        {id: '胜中', text: '胜中'},
        {id: '胜南', text: '胜南'},
        {id: '胜北', text: '胜北'},
        {id: '胜东', text: '胜东'},
        {id: '仙河', text: '仙河'},
        {id: '滨州', text: '滨州'},
        {id: '纯梁', text: '纯梁'},
        {id: '孤岛', text: '孤岛'},
        {id: '胜利河口', text: '胜利河口'},
        {id: '临盘', text: '临盘'}
    ];
    /********定义选项********/

    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();

    //绑定表单
    var db = new mini.DataBinding();

    db.bindForm("editForm1", grid);

    function saveData() {

        saveGrid(grid, "{{url_for('.save')}}")
    }
    function addRow(htmlguidid) {

        var htmlguid = mini.get(htmlguidid);
        var newRow = {};
        htmlguid.addRow(newRow, 0);
        htmlguid.beginEditCell({}, 0);
    }
    function search() {
        var textbox = mini.get('key');
        var zcbh = textbox.getValue();

        grid.load({ zcbh: zcbh });
    }

</script>

{% endblock %}