{% extends "base.html" %}
{% block content %}

<div style="width:100%;">
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="addRow('datagrid1')" plain="true"
                       tooltip="增加...">增加</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="removeRow('datagrid1')" plain="true">删除</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconCls="icon-save" onclick="saveData()" plain="true">保存</a>

                </td>

            </tr>
        </table>
    </div>
</div>
<div id="datagrid1" class="mini-datagrid" allowResize="true"
     url="{{url_for('.index')}}" idField="guid"
     allowAlternating="true" selectOnLoad="true"
     showColumnsMenu="true"
     allowCellEdit="true" allowCellSelect="true"
     editNextOnEnterKey="true" editNextRowCell="true">
    <div property="columns">
        <div type="indexcolumn"></div>
        <div field="zcbh" headerAlign="center">资产编号</div>
        <div field="zy" headerAlign="center">专业</div>
        <div field="cj" headerAlign="center">厂家</div>
        <div field="sbmc" headerAlign="center">设备名称</div>
        <div field="sbxh" headerAlign="center">设备型号</div>
        <div field="bkmc" headerAlign="center">板卡名称</div>
        <div field="bkxh" headerAlign="center">板卡型号</div>
        <div field="sbzt" headerAlign="center">设备状态</div>
        <div field="whx" headerAlign="center">完好性</div>
        <div field="bfzt" headerAlign="center">报废状态</div>
        <div field="dyzt" headerAlign="center">调用状态</div>
        <div field="zcssbm" headerAlign="center">资产所属部门</div>
        <div field="fzwz" headerAlign="center">放置位置</div>
        <div field="fzwzssdw" headerAlign="center">放置位置所属单位</div>

    </div>
</div>



<script type="text/javascript">

    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();

    function saveData() {

        saveGrid(datagm, "{{url_for('.save')}}")
    }

    function addRow(htmlguidid) {

        var htmlguid = mini.get(htmlguidid);
        var newRow = { modulename: grid.getSelected().modulename};
        htmlguid.addRow(newRow, 0);
        htmlguid.beginEditCell({}, 0);
    }


    function onRowDblClick(e) {
        //只有定义了subpage才需要执行关闭页面的动作
        if (GetParams().subpage != undefined) {

            onOk();
        }
    }
    //////////////////////////////////
    /**
     *
     var iframe = this.getIFrameEl();
     //执行调用页面里的方法，必须要有GetData()方法
     var data = iframe.contentWindow.GetData();
     data = mini.clone(data);    //必须
     alert(data)
     * @returns {*}
     * @constructor
     */
    function GetData() {
        var row = grid.getSelected();
        return row;
    }

</script>

{% endblock %}