{% macro pagination_html(pagination, endpoint, query_string) -%}
{% if pagination %}
<div>

    <ul class="pagination">
        <li><a href="javascript:void(0);">
            总共{{ pagination.total }}条/{{ pagination.pages }}页</a></li>

        {% if pagination.has_prev %}
        <li><a href="{{ pagination_href(endpoint, pagination.prev_num, query_string) }}">上一页</a></li>
        {% endif %}

        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <li><a href="{{ pagination_href(endpoint, page, query_string) }}">{{ page }}</a></li>
        {% else %}
        <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
        {% endif %}
        {% else %}
        <li><a href="javascript:void(0);">…</a></li>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li><a href="{{ pagination_href(endpoint, pagination.next_num, query_string) }}">下一页</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{%- endmacro %}

{% macro pagination_href(endpoint, page, query_string) %}
{{ url_for(endpoint, page=page) }}{% if query_string %}{{ '?' + query_string }}{% endif %}
{% endmacro %}