<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8"/>
    {% if title %}
    <title>{{ title }} - 东营联通信息化服务中心综合支撑平台</title>
    {% else %}
    <title>东营联通信息化服务中心综合支撑平台</title>
    {% endif %}


    <script src="{{ url_for('static', filename='miniui/boot.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='miniui/core.js') }}" type="text/javascript"></script>

<style type="text/css">
    .description {
        padding-bottom: 30px;
        font-family: Verdana;
    }

    .description h3 {
        color: #CC0000;
        font-size: 16px;
        margin: 0 30px 10px 0px;
        padding: 45px 0 8px;
        border-bottom: solid 1px #888;
    }
</style>
</head>
<body>



{% block content %}{% endblock %}
{%include 'footer.html' %}
</body>
</html>
