{% extends "base.html" %}
{% block content %}
<h1>增加、删除、修改节点</h1>

<input type="button" value="插入节点(前)" onclick="onAddBefore()"/>
<input type="button" value="插入节点(后)" onclick="onAddAfter()"/>
<input type="button" value="插入节点(子节点)" onclick="onAddNode()"/>
<input type="button" value="保存" onclick="saveData()" style="margin-left:30px;font-weight:bold;"/>
<br/>
<input type="button" value="编辑节点" onclick="onEditNode()"/>
<input type="button" value="删除节点" onclick="onRemoveNode()"/>
<ul id="tree1" class="mini-tree" url="{{url_for('permission.getMenu')}}" style="width:200px;padding:5px;"
    showTreeIcon="true" textField="text" idField="id"
    parentField="pid" resultAsTree="false"
    allowDrag="true" allowDrop="true"
    onnodeselect="onNodeSelect"
        >
</ul>

<div id="form1">
    <table>

        <tr>
            <td>
                <label>模块：</label>
            </td>
            <td>
                <input id="textbox1" name="modulename" class="mini-textbox"/>
            </td>
            <td>
                <label>url：</label>
            </td>
            <td>
                <input id="text1" name="url" class="mini-textbox"/>
            </td>
            <td>
                <input id="txb2" name="pid" class="mini-textbox"/>
            </td>
        </tr>
    </table>
</div>
<input type="button" value="确定" onclick="CloseWindow()"/>


<script type="text/javascript">
    mini.parse();

    function onAddBefore(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {};
        tree.addNode(newNode, "before", node);
    }
    function onAddAfter(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {};
        tree.addNode(newNode, "after", node);
    }
    function onAddNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        var newNode = {};
        tree.addNode(newNode, "add", node);
    }
    function onEditNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        tree.beginEdit(node);
    }
    function onNodeSelect(e) {
        var form = new mini.Form("form1");

        var node = e.node;
        var isLeaf = e.isLeaf;

        if (isLeaf) {

            form.setData(node);
        }
        else{
            form.reset();
        }
    }

    function onRemoveNode(e) {

        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        if (node) {
            if (confirm("确定删除选中节点?")) {
                tree.removeNode(node);
            }
        }
    }
    function onMoveNode(e) {
        var tree = mini.get("tree1");
        var node = tree.getSelectedNode();

        alert("moveNode");
    }
    function saveData() {
        var tree = mini.get("tree1");
        var data = tree.getData();
        var json = mini.encode(data);

        var msgid = mini.loading("数据保存中，请稍后......", "保存数据");
        $.ajax({
            url: "{{url_for('permission.savemenu')}}",
            data: { data: json },
            type: "post",
            success: function (text) {
                mini.hideMessageBox(msgid);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }


    function CloseWindow() {
        var form = new mini.Form("form1");

        var tree = mini.get("tree1");
        var options = form.getData();
        var node = tree.getSelectedNode();
        options = mini.clone(options);
        tree.updateNode(node, options);


    }
</script>

{% endblock %}