<!-- extend base layout -->
{% extends "base.html" %}
{% from "_formhelper.html" import render_field %}
{% block content %}
<div class="well well-large">
    <form role="form" action="{{url_for(action,**request.args)}}" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">增加任务</h2>

        <div class="form-group">
            <label for="usercode">请输入标题:</label>
            {{form.title}}
        </div>
        <div class="form-group">
            <label for="sqlContent">sql语句:</label>
            {{ form.sqlContent}}
        </div>
        <div class="form-group">
            <label for="paras">执行参数:</label>
            {{ form.paras}}
        </div>


        <div class="form-group">
            <label for="frequency">执行频率:</label>
            {{ form.frequency}}
        </div>
        <div class="form-group">
            <label for="user_code">user_code:</label>
            {{ form.user_code}}
        </div>

        <button type="submit" class="btn btn-success">提交</button>
    </form>

</div>
{% endblock %}
