{% extends "base.html" %}
{% block content %}
<div style="width:100%;">
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="addRow()" plain="true" tooltip="增加...">增加</a>
                    <a class="mini-button" iconCls="icon-remove" onclick="removeRow()" plain="true">删除</a>
                    <span class="separator"></span>
                    <a class="mini-button" iconCls="icon-save" onclick="saveData()" plain="true">保存</a>

                </td>
                <td style="white-space:nowrap;">
                    <input id="key" class="mini-textbox" emptyText="请输入姓名" style="width:150px;" onenter="onKeyEnter"/>
                    <a class="mini-button" onclick="search()">查询</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="datagrid1" class="mini-datagrid" allowResize="true"
     url="{{url_for('.sqllistdata',a=23)}}" idField="guid"
     allowAlternating="true" selectOnLoad="true"
     onselectionchanged="onSelectionChanged"
     allowCellEdit="true" allowCellSelect="true"
     editNextOnEnterKey="true" editNextRowCell="true"   >
    <div property="columns">
        <div type="indexcolumn"></div>
        <div type="checkcolumn"></div>
        <div field="title"  headerAlign="center">标题
            <input property="editor" class="mini-textbox" style="width:100%;"/>
        </div>
        <div field="sqlcontent" headerAlign="center">sql
        <input property="editor" class="mini-textarea" style="width:100%;height:100px;" minWidth="200" minHeight="100">
        </div>
        <div field="nextexec" dateFormat="yyyy-MM-dd HH:mm:ss" headerAlign="center">下次执行
            <input property="editor"  class="mini-datepicker" data-date-format="yyyy-dd-mm HH:MM:ss" showTime="true" style="width:100%;"/>
        </div>
        <div field="lastexec" dateFormat="yyyy-MM-dd HH:mm:ss" headerAlign="center">上次执行</div>
        <div field="frequency" headerAlign="center">频率</div>
    </div>
</div>
<br>

<div id="dataresult" class="mini-datagrid" allowResize="true"
         url="{{url_for('.sqlresult',a=23)}}" idField="guid" multiSelect="true" >
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="guid" headerAlign="center">guid</div>
            <div field="sqlcontent" headerAlign="center">语句</div>
            <div header="执行信息" headerAlign="center">
                <div property="columns">
                    <div field="success" renderer="onGenderRenderer" headerAlign="center">执行结果</div>
                    <div field="message" headerAlign="center">消息</div>
                    <div field="opdate" dateFormat="yyyy-MM-dd HH:mm:ss" headerAlign="center">执行时间</div>
                </div>
            </div>
         </div>
    </div>



<script type="text/javascript">
    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();
    var dataresult=mini.get("dataresult")
    function saveData() {

         saveGrid(grid, "{{url_for('.save')}}")
    }
    function onSelectionChanged(e) {

        var grid = e.sender;
        var record = grid.getSelected();
        if (record) {
            dataresult.load({ sguid: record.guid });
        }
    }
    var Genders = [
        { id: 1, text: '成功' },
        { id: 0, text: '失败'}
    ];
    function onGenderRenderer(e) {
        for (var i = 0, l = Genders.length; i < l; i++) {
            var g = Genders[i];
            if (g.id == e.value) return g.text;
        }
        return "";
    }
</script>

{% endblock %}