<!-- extend base layout -->
{% extends "base.html" %}
{% from "_paginathion.html" import pagination_html %}
{% block content %}
<!----显示表格---->

<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            {% if not fields_cn %}
            {% set fields_cn=fields %}
            {% endif %}
            {% for field_cn in fields_cn %}
            <td>{{ field_cn }}</td>
            {% endfor %}
        </tr>
        </thead>

        {% if pagination %}
        {% for item in pagination.items %}
        <tr>
            <td>
               <a href="shownews/{{item['guid']}}">{{item['title']}}</a>
            </td>
            <td>
                <a href="?type={{item['type']}}">{{item['type']}}</a>
            </td>
            <td>
                {{item['modifydate']}}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="{{ fields|count }}">NO DATA</td>
        </tr>
        {% endif %}
    </table>
</div>


<!-- 调用分页模板 -->
{{ pagination_html(pagination, request.endpoint, request.query_string) }}
{% endblock %}
