<!DOCTYPE html>
<html lang="zh-cn" data-lang="zh-cn" data-template="simple" class="lang-zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - 基于微信的资产管理系统</title>
    {% else %}
    <title>基于微信的资产管理系统</title>
    {% endif %}
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="/static/css/ie6.css"/>
    <![endif]-->
    <script type=text/javascript>
        $SCRIPT_ROOT={{request.script_root|tojson|safe}};
    </script>

</head>
<body>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">首页</a>


        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {%if request.endpoint=='unchecked' %}class="active"{%endif%}><a href="{{ url_for('unchecked') }}">待查资产</a></li>
                <li
                {%if request.endpoint=='checked' %}class="active"{%endif%}><a href="{{ url_for('checked') }}">已查资产</a></li>
                <li
                {%if request.endpoint=='barcodelist' %}class="active"{%endif%}><a href="{{ url_for('barcodelist') }}">清查日志</a></li>

                {% if g.user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">注销登陆</a></li>
                {% endif %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div class="container theme-showcase" role="main">
{%include 'flash.html' %}
{% block content %}{% endblock %}
</div>

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F386c54d0b8bdd21f60ae35398536ed58' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
