<!-- extend base layout -->
{% extends "base.html" %}


{% from "_formhelper.html" import render_field %}

{% block content %}
<div class="well well-large">

    <form class="form-inline form-signin" role="form" action="{{url_for(action,**request.args)}}" method="post">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">{{opname}} 2/2</h2>

        <div class="form-group">
            <label class="sr-only" for="code">请输入验证码</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="请输入验证码">
        </div>
        <button type="submit" class="btn btn-success">完成</button>
    </form>

</div>



{% endblock %}

