
<hr>
class {{tablename}}(db.Model):<br>
<code>
    &nbsp;&nbsp;&nbsp;&nbsp;
    __tablename__='{{tablename}}'<br>
    {% for x in list %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {%if x.EXTRA=='auto_increment'%}
    {{x.COLUMN_NAME}}=db.Column(Integer, unique=True, primary_key=True, autoincrement=True)<br>

    {%else%}
    {{x.COLUMN_NAME}}=db.Column('{{x.COLUMN_NAME}}')<br>
    {%endif%}
    {%endfor%}

    &nbsp;&nbsp;&nbsp;&nbsp;
    def __int__(self,
    {%for x in list if x.EXTRA not in ['auto_increment','on update CURRENT_TIMESTAMP'] %}
        {{x.COLUMN_NAME}}=None
        {%if not loop.last%},{%endif%}
    {%endfor%}

    ):<br>
    {% for x in list %}
    {%if x.EXTRA!='auto_increment' and x.EXTRA!='on update CURRENT_TIMESTAMP'%}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    self.{{x.COLUMN_NAME}}={{x.COLUMN_NAME}}<br>
    {%endif%}
    {%endfor%}
</code>